.app-container {
  color: black;
}
.app-container {
  #loginBtnSubmit {
    width: 200px;
    margin: 0 auto !important;
    display: block;
  }
  .HomeInfo {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
  }

  .HomeNotify {
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
  }

  .loginBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .fontWeight500 {
    font-weight: 500 !important;
  }
}
.about-me {
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.about-me h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-me p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-me a {
  color: #007bff;
  text-decoration: none;
}

.about-me a:hover {
  text-decoration: underline;
}
.cursorPointer {
  cursor: pointer;
}
