.app-container {
  color: black;
}
.app-container {
  .errorTextNofty {
    font-size: 12px;
    color: #d98a8a;
    display: none;
  }
  .errorLoginBorderNofty {
    border: 2px solid #d98a8a;
  }
}
